useDynLib(DriftBurstHypothesis, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(stats, acf, approx, filter, var)
importFrom(xts, .indexDate, tzone, xts)
importFrom(zoo, index)
importFrom(grDevices, rgb)
importFrom(graphics, abline, axis, axis.POSIXct, legend, mtext, par, plot)
S3method(plot, DBH)
S3method(print, DBH)
S3method(getSigma, DBH)
S3method(getMu, DBH)
S3method(getDB, DBH)
S3method(getMean, DBH)
S3method(getVar, DBH)
S3method(getCriticalValues, DBH)
export(driftBursts, getMu, getSigma, getDB, getMean, getVar, getCriticalValues)
