useDynLib(SelvarMix)
#exportPattern("^[[:alpha:]]+")
export(SelvarClustLasso, SelvarLearnLasso, SortvarClust, SortvarLearn)
#importMethodsFrom("SelvarMix", selvarmix)
#exportClasses(selvarmix)
#exportMethods(selvarmix,summary, print)
S3method(summary, selvarmix)
#S3method(print, selvarmix)
#exportClasses(selvarmix)
importFrom("methods", is)
importFrom("stats", cov, kmeans)
importFrom("Rcpp", evalCpp)
importFrom("glasso", glasso)
importFrom("Rmixmod", mixmodCluster, mixmodLearn, mixmodGaussianModel, mixmodPredict, is.wholenumber, mixmodStrategy)
importFrom("parallel", mclapply, parLapply, clusterApply, makeCluster,  clusterExport,  detectCores,  stopCluster, parApply, clusterEvalQ)

