exportPattern("^[[:alpha:]]+")
S3method(alacoxIC, default)
S3method(print, alacoxIC)
S3method(plot, alacoxIC)
S3method(unpencoxIC, default)
S3method(print, unpencoxIC)
S3method(plot, unpencoxIC)
S3method(baseline, default)
S3method(print, baseline)
useDynLib(ALassoSurvIC)
importFrom(Rcpp, sourceCpp)
importFrom("parallel", "parLapplyLB", "parLapply", "mclapply", "stopCluster")
importFrom("stats", "pnorm", "qnorm", "var")
importFrom("graphics", "axis", "plot")
