exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
useDynLib(imp4p)
importFrom(Iso,pava)
importFrom(truncnorm,rtruncnorm)
importFrom(stats,lm.fit,ecdf,coefficients,quantile,runif,pnorm,dbeta,rbeta,sd,rnorm,optim,qnorm,cor,lm,density, median)
importFrom(stats, binomial, glm, rbinom, smooth.spline,na.omit)
importFrom(graphics,hist)
importFrom(norm, prelim.norm, em.norm, rngseed, imp.norm)
importFrom(missForest, missForest)
importFrom(missMDA, estim_ncpPCA, imputePCA)
