useDynLib(IFC, .registration = TRUE)
export("readIFC")
export("writeIFC")
export("ExtractFromDAF")
export("ExportToDAF")
export("data_to_DAF")
export("ExtractFromXIF")
export("ExportToXIF")
export("ExportToBATCH")
export("ExportToReport")
export("ExportToGallery")
export("ExportToNumpy")
export("DisplayGallery")
export("ExtractImages_toBase64")
export("ExtractImages_toFile")
export("ExtractImages_toMatrix")
export("ExtractMasks_toMatrix")
export("objectExtract")
export("popsNetwork")
export("plotGraph")
export("paletteIFC")
export("autoplot")
export("smoothLinLog")
export("inv_smoothLinLog")
export("getInfo")
export("getOffsets")
export("getIFD")
export("getFullTag")
export("getAborted")
export("subsetOffsets")
export("checksumIFC")
export("objectDisplay")
export("objectParam")
export("popsCopy")
export("popsGetObjectsIds")
export("data_add_features")
export("data_add_regions")
export("data_add_pops")
export("data_rm_features")
export("data_rm_regions")
export("data_rm_pops")
export("buildBatch")
export("buildFeature")
export("buildGraph")
export("buildPopulation")
export("buildRegion")
import(utils)
import(lattice)
import(latticeExtra)
import(xml2)
import(DT)
import(visNetwork)
import(grid)
import(gridExtra)
import(RcppProgress)
importFrom(Rcpp, evalCpp)
importFrom(grDevices, axisTicks, col2rgb, colorRampPalette, devAskNewPage, dev.cur, dev.off, pdf, rgb, rgb2hsv, xy.coords)
importFrom(graphics, axis, box, hist, legend, lines, plot, polygon, rect, text, points)
importFrom(stats, density, ftable, na.omit, quantile, rnorm, update)
