useDynLib(ProjectionBasedClustering)
export(CCA)
export(ICA)
export(Isomap)
export(KruskalStress)
export(MDS)
export(NeRV)
export(PCA)
export(PolarSwarm)
export(PlotProjectedPoints)
export(ProjectionBasedClustering)
export(ProjectionPursuit)
export(Projection2Bestmatches)
export(SammonsMapping)
export(UniformManifoldApproximationProjection)
export(tSNE)
export(interactiveClustering)
export(interactiveGeneralizedUmatrixIsland)
export(interactiveProjectionBasedClustering)
export(IPBC)

import(shiny)
importFrom("plotly","plotlyOutput","event_data","renderPlotly","plot_ly","add_contour","add_markers","add_segments","layout")
importFrom("shinythemes","shinytheme")
importFrom("stats", "quantile")
importFrom("grDevices", "colorRamp")
importFrom("shinyjs","hide","useShinyjs","toggle", "hidden", "enable", "disable")
  importFrom("graphics", "matplot", "plot", "symbols", "title")
  importFrom("stats", "cmdscale", "cov", "dist", "lsfit", "prcomp",
             "rnorm", "runif", "sd")
  importFrom("utils", "combn")
import(ggplot2)
  importFrom("grDevices", "dev.off", "png")
  importFrom("graphics", "lines", "par", "rasterImage")
import(deldir)
importFrom('geometry','delaunayn')
import(Rcpp)
import(GeneralizedUmatrix)
#importFrom('spdep','gabrielneigh')
#importFrom('FastKNN','k.nearest.neighbors')
#importFrom('pcaPP','cor.fk')
#importFrom('fastICA','fastICA')
#importFrom('MASS','sammon')
#importFrom('tsne','tsne')
#importFrom('vegan','isomap')

importFrom("graphics", "axis")
importFrom("stats", "as.dendrogram", "as.dist", "cutree", "hclust")
 importFrom("stats", "order.dendrogram")