useDynLib(clogitL1)

export(clogitL1)
export(print.clogitL1)
export(plot.clogitL1)
export(cv.clogitL1)
export(plot.cv.clogitL1)
export(summary.clogitL1)
export(summary.cv.clogitL1)

import(Rcpp)
importFrom("graphics", "abline", "axis", "legend", "matlines", "matplot", "points", "text")
importFrom("stats", "var")

S3method(plot, clogitL1)
S3method(plot, cv.clogitL1)
S3method(print, clogitL1)
S3method(summary, clogitL1)
S3method(summary, cv.clogitL1)

