useDynLib(factorcpt)
importFrom(Rcpp, evalCpp)
import(fields, doParallel, parallel, foreach, iterators)
importFrom("graphics", "abline", "axis", "image", "par")
importFrom("stats", "acf", "rgeom", "sd")

export(factor.seg.alg)
export(func_coef)
export(func_dc)
export(func_dc_by)
export(func_input)
export(func_input_on)
export(post.cpts.analysis)
export(get.factor.model)
