export("esomTrain")
export("iClassification")
export("iEsomTrain")
export("iUmapIsland")
export("iUstarmatrix")
export("plotMatrix")
export("pmatrixForEsom")
export("showMatrix3D")
export("umatrixForEsom")
export("ustarmatrixCalc")

import(shiny)
importFrom("shinyjs","hide","useShinyjs","toggle", "hidden", "enable", "disable")
import(stats)
import("deldir")
import("geometry")
import(plyr)
importFrom("fields","in.poly")
importFrom("graphics", "axis","lines", "par", "plot", "plot.new", "points", "title","hist")
import(ggplot2)
importFrom("reshape2", "melt")
import(png)
import(tools)
import(grid)
import(Rcpp)
importFrom("grDevices", "contourLines", "dev.off", "png", "rgb")
importFrom("graphics", "contour", "image", "plot.window", "polygon","rasterImage", "text")
importFrom("utils", "browseURL")
import(abind)
import(pdist)
importFrom("AdaptGauss", "EMGauss", "Intersect2Mixtures")
importFrom("pracma", "trapz")

useDynLib(Umatrix,.registration=TRUE)

