import(Rcpp)
import(RcppProgress)
import(gtools)
import(foreach)
import(doParallel)
import(parallel)
importFrom("graphics", "boxplot", "par", "plot")
importFrom("graphics", "barplot")
importFrom("stats", "dbeta", "pnorm", "qnorm", "rnorm", "runif")
importFrom("utils", "setTxtProgressBar", "txtProgressBar")
importFrom("stats", "dbinom")
importFrom("grDevices", "grey")
importFrom("graphics", "legend")
importFrom("coda", "mcmc")
importFrom("stats", "rbeta", "rbinom", "rmultinom", "rpois")
importFrom("stats", "dnorm", "median", "sigma")
importFrom("graphics", "abline", "axis")
importFrom("stats", "var")
export(rlda.bernoulli)
export(rlda.bernoulliMH)
export(rlda.multinomial)
export(rlda.binomial)
export(rlda.binomialMH)
export(generateBinomialLDA.rlda)
export(rlda.fastbernoulli)
export(generateBernoulliLDA.rlda)
export(generateMultinomialLDA.rlda)
export(getTheta.rlda)
export(getPhi.rlda)
export(rlda2mcmc.rlda)
export(rlda.binomialVB)
S3method("plot", "rlda")
S3method("print", "rlda")
S3method("summary", "rlda")
S3method("predict", "rlda")
S3method("logLik", "rlda")
useDynLib(Rlda, .registration = TRUE)


