exportPattern("^[[:alpha:]]+")
importFrom(Rcpp, evalCpp)
useDynLib(IntegratedMRF, .registration = TRUE)

export(CombPredict)
export(CombPredictSpecific)
export(Combination)
export(CrossValidation)
export(Imputation)
export(IntegratedPrediction)
export(Node_cost)
export(build_forest_predict)
export(build_single_tree)
export(error_calculation)
export(predicting)
export(single_tree_prediction)
export(split_node)
export(splitt)

importFrom(utils,combn)
importFrom(grDevices,dev.off)
importFrom(grDevices,tiff)
importFrom(stats,cor)
importFrom(stats,cov)
importFrom(stats,lsfit)
importFrom(MultivariateRandomForest,splitt2)
