useDynLib(WinRatio, .registration=TRUE)
importFrom(Rcpp, evalCpp)
exportPattern("^[[:alpha:]]+")
S3method(summary,WinRatio)
export(summary.WinRatio)
importFrom(stats, na.omit, pnorm, qnorm)
importFrom(utils, head, tail)
importFrom(tidyselect, all_of)
import(magrittr)
import(tidyverse)
import(tidyselect)