useDynLib(FKSUM, .registration=TRUE)
importFrom("Rcpp", "evalCpp")
importFrom("rARPACK", "eigs_sym")
importFrom("MASS", "Null")
importFrom("graphics", "plot", "abline", "lines", "par", "points")
importFrom("stats", "cov", "optim", "optimise", "rnorm", "sd")
export("fk_ppr", "fk_sum", "fk_ICA", "fk_density", "fk_regression", "roughness_K",
       "var_K", "norm_K", "norm_const_K", "h_Gauss_to_K", "h_K_to_Gauss", "plot_kernel", "fk_mdh")
S3method(predict, fk_ppr)
S3method(plot, fk_density)
S3method(plot, fk_ICA)
S3method(plot, fk_ppr)
S3method(print, fk_density)
S3method(print, fk_ICA)
S3method(print, fk_ppr)
S3method(print, fk_regression)
S3method(plot, fk_regression)
S3method(plot, fk_mdh)
S3method(print, fk_mdh)
S3method(predict, fk_regression)
