importFrom("stats", "qnorm", "runif")
useDynLib(Lmoments)
importFrom(Rcpp, evalCpp)
export(Lmoments)
export(Lcoefs)
export(Lmomcov)
export(t1lmoments)
export(qnormpoly)
export(pnormpoly)
export(dnormpoly)
export(rnormpoly)
export(normpoly_inv)
export(normpoly_pdf)
export(normpoly_cdf)
export(normpoly_rnd)
export(qcauchypoly)
export(pcauchypoly)
export(dcauchypoly)
export(rcauchypoly)
export(cauchypoly_pdf)
export(cauchypoly_cdf)
export(cauchypoly_inv)
export(cauchypoly_rnd)
export(covnormpoly4)
export(data2cauchypoly4)
export(t1lmom2cauchypoly4)
export(data2normpoly4)
export(lmom2normpoly4)
export(data2normpoly6)
export(lmom2normpoly6)
export(shiftedlegendre)
