useDynLib(flam)
importFrom(Rcpp, evalCpp)
importFrom("grDevices", "col2rgb", "rgb")
importFrom("graphics", "abline", "arrows", "legend", "par", "plot", "points")
importFrom("stats", "pnorm", "rbinom", "rnorm", "runif", "sd")
export(flam, flamDOF, flamCV, sim.data)
S3method(plot, flam)
S3method(plot, flamCV)
S3method(plot, flamSparsity)
S3method(predict, flam)
S3method(summary, flam)
S3method(summary, flamCV)
