useDynLib(IHSEP)
importFrom(Rcpp,sourceCpp)
exportPattern("^[[:alpha:]]+")
importFrom("stats", "fft", "integrate", "optimize", "rbinom", "rexp",
           "rpois", "runif")
importFrom("utils", "head")
importFrom(lpint,lpint)
